streamlit
openai
langchain
tabulate
streamlit-chat
langchain-experimental 
awswrangler
plotly
sqlalchemy
sqlparse
PyAthena
PyAthena[SQLAlchemy]
matplotlib
python-dotenv
unstructured==0.7.12
chromadb
tiktoken
wikipedia
s3fs
libmagic
opensearch-py
matplotlib
langchain-visualizer
